:root {
  --main-color: #ececec;
  --black-color: #000;
  --red-color: #F03131;
  --black-shadow: rgba(0, 0, 0, 0.25);
  --light-shadow: rgba(255, 255, 255, 0.829);
  --border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-color);
  /* min-height: 100vh; */
  color: var(--black-color);
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

ul {
  list-style: none;
}

img{
  width: 100%;
  border-radius: 10px;
}

.container {
  max-width: 968px;
  /* border: var(--border); */
  margin: 1rem auto 0 auto;
}

.section{
  margin: 4rem 0 3rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 2rem; */
  font-size: 1.3rem;
}

.nav__container-list {
  display: flex;
  column-gap: 2rem;
}

.nav__container-list__item-link {
  background-color: var(--main-color);
  padding: 0.25rem 1rem;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.nav__container-list__item-link:hover {
  box-shadow: 8px 8px 16px 0 var(--black-shadow),
    -8px -8px 16px 0 var(--light-shadow);
  color: var(--red-color);
  transition: 0.3s ease-in-out;

}
.nav__container-list__item-link:active {
  box-shadow: inset 8px 8px 16px 0 var(--black-shadow),
    inset -8px -8px 16px 0 var(--light-shadow);
  transition: 0.3s ease-in-out;
}

.main__container {
  display: flex;
  /* border: var(--border); */
  justify-content: space-between;
  align-items: center;
}

.main__container-text{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  box-shadow: 8px 8px 16px 0 var(--black-shadow),
  -8px -8px 16px 0 var(--light-shadow);
  padding: 2rem 3rem;
  border-radius: 30px;
}

.main__container-text h2{
  font-size: 1.5rem;
}

.main__container-text h1{
  font-size: 2.3rem;
}

.main__container-text p{
  font-size: 1.5rem;
}

.mainII h1{
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.mainII__container{
  display: flex;
  column-gap: 2rem;
  align-items: center;
  
  /* border: var(--border); */
}

.mainII__container-card{
  height: 20rem;
  max-width: 18rem;
  box-shadow: 
    8px 8px 16px 0 var(--black-shadow),
    -8px -8px 16px 0 var(--light-shadow);
  border-radius: 30px;
  padding: 1.5rem 1rem 0;
  text-align: justify;
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  transition: .3s ease-in-out;
}

.mainII__container-card:hover{
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}

.mainII__container-card__description{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.mainII__container-card__icon{
  color: var(--red-color);
  font-size: 2rem;
  text-align: center;
}

.mainII__container-card__title{
  text-align: center;
}

.mainIII h1{
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.mainIII__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.mainIII__container-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 
    8px 8px 16px 0 var(--black-shadow),
    -8px -8px 16px 0 var(--light-shadow);
  padding: 3rem 2rem;
  row-gap: 1rem;
}

.mainIII__container-description h2{
  font-size: 2rem;
}

.mainIII__container-description p{
  font-size: 1.2rem;
}

.mainIII__container-grid{
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem; */
  width: clamp(20rem, 30rem, 40rem);
}

.mainIII__container-grid__box{
  box-shadow: 
    8px 8px 16px 0 var(--black-shadow),
    -8px -8px 16px 0 var(--light-shadow);
  border-radius: 20px;
  padding: 1rem;
}

.mainIII__container-grid__box:nth-child(1){
  grid-column: span 2;
}

.mainIII__container-grid__box:nth-child(4){
  /* grid-column: span 2; */
}

.mainIII__container-grid__box:nth-child(3){
  grid-column: span 4;
}